# Ignore the virtual environment
venv/

# Ignore the database
.db

# Ignore the static files
static/

# Ignore the media files
media/

# Ignore the logs
logs/

# Ignore the IDE settings
.idea/

# Ignore the Python cache
__pycache__/

# Django settings, URLs, WSGI, ASGI are now tracked


# Ignore the Django manage.py
manage.py